---
import { desktopSocials } from '@data/socials'
---

{
  desktopSocials.map((social) => (
    <li>
      <a
        class="hover:text-green transition-all duration-150 ease-in-out"
        href={social.url}
        target="_blank"
        rel="noopener noreferrer"
        title={social.name === 'RSS' ? '本站RSS订阅源' : `我的${social.name}`}
        aria-label={social.name === 'RSS' ? '订阅本站RSS源' : `访问我的${social.name}`}
      >
        <div class:list={[social.icon, social.name === '小红书' ? 'p-6' : 'p-3']} />
      </a>
    </li>
  ))
}
