---
import { desktopNavItems as navItems } from '@utils/nav-items';
---

{
  navItems.map((item) => (
    <li>
      <a class="hover:text-green text-lg font-medium transition-all duration-150 ease-in-out hover:underline" href={item.url} title={`${item.name}`}>
        {item.name}
      </a>
    </li>
  ))
}
