---
import DesktopNavItems from './DesktopNavItems.astro'
import DesktopSocials from './DesktopSocials.astro'
---

<nav class="hidden md:inline-block">
  <ul class="flex items-center gap-8">
    <DesktopNavItems />
    <DesktopSocials />
  </ul>
</nav>
