---
import { desktopNavItems as navItems } from '@data/nav-items'
---

{
  navItems.map((item) => (
    <li>
      <a
        class="poppins hover:text-green text-xl font-medium transition-all duration-150 ease-in-out hover:underline"
        href={item.url}
        title={`${item.name}`}
        aria-label={`访问 ${item.name}`}
      >
        {item.name}
      </a>
    </li>
  ))
}
