---
import { getCollection } from 'astro:content'
import DefaultLayout from '@layouts/DefaultLayout.astro'
import BlogList from '@components/blog/BlogList.astro'

const posts = await getCollection('blog')
---

<DefaultLayout title="博客" description="leungsekyu 的所有博客文章">
  <main class="bg-green p-6">
    <BlogList posts={posts} />
  </main>
</DefaultLayout>
