---

---

<section class="flex flex-col justify-between gap-8">
  <p class="font-bold text-9xl dm-serif">404 Not Found</p>
  <h2 class="text-4xl sanchez">准备中 🏗️</h2>
  <a
    href="/"
    title="回到主页"
    aria-label="返回主页"
    class="w-48 px-4 py-2
       border-2 border-black
       poppins text-center
       hover:bg-red
       transition-colors duration-150 ease-in-out"
    >&larr; 回到主页</a
  >
</section>
