---

---

<section class="flex flex-col gap-8 justify-between">
  <p class="text-9xl font-bold dm-serif">404 Not Found</p>
  <h2 class="text-4xl outfit sanchez">准备中 🏗️</h2>
  <a href="/" title="回到主页" class="px-4 py-2 border-2 border-black hover:bg-red transition-colors duration-150 ease-in-out w-48 text-center poppins"
    >&larr; 回到主页</a
  >
</section>
