---
import Logo from './ui/Logo.astro';
import DesktopNav from './ui/DesktopNav.astro';
import MobileNav from './ui/MobileNav.astro';

interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<header class="flex items-center justify-between border-b-4 border-black p-6">
  {pageTitle && <h1 class="hidden">{pageTitle}</h1>}
  <h2 class="hidden">Logo</h2>
  <Logo />
  <h2 class="hidden">桌面端导航栏</h2>
  <h2 class="hidden">桌面端个人社交媒体栏</h2>
  <DesktopNav />
  <h2 class="hidden">移动端导航栏</h2>
  <MobileNav />
</header>
