---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import Error404 from '@components/errors/Error404.astro';
import RecentBlogPosts from '@components/home/RecentBlogPosts.astro';
---

<DefaultLayout title="页面未找到" description="404 错误：页面未找到">
  <main class="px-6 py-24 bg-blue">
    <Error404 />
    <RecentBlogPosts />
  </main>
</DefaultLayout>
