---
import DefaultLayout from '@layouts/Default.astro';

import MobileSocials from '@components/home/MobileSocials.astro';
import About from '@components/home/About.astro';
import RecentBlogPosts from '@components/home/RecentBlogPosts.astro';
---

<DefaultLayout title="主页" description="leungsekyu 的个人博客主页">
  <main class="p-6 bg-pink">
    <MobileSocials />
    <About />
    <RecentBlogPosts />
  </main>
</DefaultLayout>
