---
import AboutMe from '@components/home/AboutMe.astro';
import TechStack from '@components/home/TechStack.astro';
---

<section id="about" class="mt-4 grid gap-8 md:grid-cols-8">
  <h2 class="hidden">关于</h2>
  <AboutMe />
  <TechStack />
</section>
