---
interface Props {
  pubDate: Date;
  author: string;
}

const { pubDate, author } = Astro.props;
---

<article class="w-sm md:w-prose md:prose prose-slate poppins">
  <a href="/blog/" title="Back to blog">&larr; 返回博客</a>

  <p class="text-slate text-sm md:text-base">
    由 {author} 发布于 {
      pubDate.toLocaleString('zh-CN', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
      })
    }
  </p>

  <slot />

  <p class="text-slate">作者：{author}</p>

  <a href="/blog/" title="返回博客">&larr; 返回博客</a>
</article>
