---
interface Props {
  author: string
  publishedAt: Date
  updatedAt: Date
}

const { author, publishedAt, updatedAt } = Astro.props
---

<article class="w-sm md:w-prose md:prose prose-slate poppins">
  <a href="/blog/" title="Back to blog">&larr; 返回博客</a>

  <p class="text-slate text-sm md:text-base">
    由 {author} 发布于 {
      publishedAt.toLocaleString('zh-CN', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      })
    }
    {
      updatedAt && (
        <em>
          更新于{' '}
          {updatedAt.toLocaleString('zh-CN', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })}
        </em>
      )
    }
  </p>

  <slot />

  <p class="text-slate">作者：{author}</p>

  <a href="/blog/" title="返回博客">&larr; 返回博客</a>
</article>
