---
interface Props {
  src: string
  alt: string
  caption?: string
}

const { src, alt, caption } = Astro.props
---

<div class="mb-5 flex flex-col items-center">
  <img src={src} alt={alt} class="mb-2" />
  <span class="text-center text-gray-500">{caption}</span>
</div>
