---
import { getCollection } from 'astro:content'
import RandomColorCard from '@components/ui/random-color-card/RandomColorCard.astro'
import { Button } from '@eliancodes/brutal-ui'
import BlogList from '../blog/BlogList.astro'

interface Props {
  count?: number
  currentId?: string
  pageColor?: string
}

const { count, currentId, pageColor } = Astro.props

const posts = await getCollection('blog', ({ id }) => {
  if (currentId) {
    return id !== currentId
  }
  return true
})
---

<section class="mt-8">
  <h2 class="hidden">最近更新的文章</h2>
  <RandomColorCard pageColor={pageColor}>
    <div class="flex items-start justify-between">
      <h2 class="dm-serif mb-8 text-2xl md:text-4xl lg:text-6xl">最近更新</h2>
      <div class="hidden md:block">
        <Button href="/blog/">进入博客 &rarr;</Button>
      </div>
      <div class="block md:hidden">
        <Button href="/blog/">进入博客</Button>
      </div>
    </div>
    <BlogList posts={posts} count={count} />
  </RandomColorCard>
</section>
