---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import DefaultLayout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';
import { Button } from '@eliancodes/brutal-ui';

export async function getStaticPaths() {
  const collection = await getCollection('blog');
  const allPosts = collection.reverse();

  const allTags: string[] = [];

  allPosts.forEach((post: CollectionEntry<'blog'>) => {
    post.data.tags.forEach((tag: string) => {
      allTags.push(tag);
    });
  });

  return Array.from(new Set(allTags)).map((currentTag) => {
    return {
      params: { tag: currentTag.toLowerCase() },
      props: {
        tag: currentTag,
        filteredBlogPosts: allPosts.filter((post: CollectionEntry<'blog'>) =>
          post.data.tags.map((tag: string) => tag.toLowerCase()).includes(currentTag.toLowerCase())
        ),
      },
    };
  });
}

interface Props {
  tag: string;
  filteredBlogPosts: CollectionEntry<'blog'>[];
}

const { tag, filteredBlogPosts } = Astro.props;
---

<DefaultLayout title={`博客 | ${tag}`} description={`包含 ${tag} 标签的所有博客文章`} }>
  <main class="grid gap-4 p-6 bg-purple">
    <div>
      <Button href="/blog/">&larr; 返回博客</Button>
    </div>
    <BlogList posts={filteredBlogPosts} />
  </main>
</DefaultLayout>
