---
import BaseHead from '../components/layout/BaseHead.astro';
import { ClientRouter } from 'astro:transitions';
import BaseNavigation from '@components/layout/BaseNavigation.astro';
import BaseFooter from '@components/layout/BaseFooter.astro';
import '../styles/global.scss';

interface Props {
  title: string;
  description: string;
  ogImage?: URL;
  classList?: string;
  pageTitle?: string;
}

const { title, description, ogImage, classList, pageTitle } = Astro.props;
---

<!-- <html lang="zh" class="h-full"> -->
<html lang="zh">
  <BaseHead title={title} description={description} ogImage={ogImage} />

  <body class:list={[classList]}>
    <!-- Astro 客户端路由 -->
    <ClientRouter />
    <BaseNavigation {pageTitle} />
    <slot />
    <BaseFooter />
  </body>
</html>
