---
import { Card } from '@eliancodes/brutal-ui'
---

<div class="brutal-card-container">
  <Card color="#818cf8">
    <slot />
  </Card>
</div>

<script>
  const colors = [
    '#c084fc',
    '#f472b6',
    '#fb7185',
    '#e879f9',
    '#a78bfa',
    '#818cf8',
    '#60a5fa',
    '#38bdf8',
    '#22d3ee',
    '#2dd4bf',
    '#34d399',
    '#4ade80',
    '#a3e635',
    '#facc15',
    '#fb923c',
    '#f87171',
  ]

  function updateColor() {
    const cards = document.querySelectorAll('.brutal-card-container .brutal-card')
    if (!cards.length) return

    cards.forEach((card) => {
      const randomColor = colors[Math.floor(Math.random() * colors.length)]
      card.style.backgroundColor = randomColor
    })
  }

  document.addEventListener('DOMContentLoaded', updateColor)
  document.addEventListener('astro:after-swap', updateColor)
</script>
